<div class="container">
  <h4>Angular Material Form</h4>

  <div>
    <label>Server Name</label>
    <input type="text" />
    <label>Server Comments</label>
    <input type="text" />
    <div class="row" fxLayoutGap="10px" fxLayoutAlign="start">
      <button mat-raised-button color="accent">Server</button>
      <button mat-raised-button color="primary">Blue Print</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-list>
      <div mat-subheader>Servers</div>
      <mat-list-item *ngFor="let server of servers">
        <mat-icon mat-list-icon>server</mat-icon>
        <div mat-line>{{ server.name }}</div>
        <div mat-line>{{ server.comment }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <mat-list>
      <div mat-subheader>Blue Print</div>
      <mat-list-item *ngFor="let server of servers">
        <mat-icon mat-list-icon>server</mat-icon>
        <div mat-line>{{ server.name }}</div>
        <div mat-line>{{ server.comment }}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
