<div>
  <h4>Angular Material Form</h4>

  <div>
    <label>Server Name</label>
    <input type="text">
    <label>Server Comments</label>
    <input type="text">
    <input type="button" value="Serve">
    <input type="button" value="Blue Print">
    <hr>
  </div>

  <div>
    <p>Server</p>
    <ul>
      <li>Geoffs Server</li>
      <li>This is test comment</li>
    </ul>
  </div>

  <div>
    <p>Blue Print</p>
    <ul>
      <li>Geoffs Server</li>
      <li>This is test comment</li>
    </ul>
  </div>
  <hr>
</div>
